input.ng-touched.ng-invalid {
  border: 1px solid red;
}

body {
  background-color: white;
}
.new {
  margin-left: 12px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #000000;
}

li > a {
  color: black;
}

md-autocomplete > md-autocomplete-wrap > md-progress-linear {
  display: none;
}

.table-striped tbody tr.selected:nth-child(even) td {
  background-color: gray;
}
.table-striped tbody tr.selected:nth-child(odd) td {
  background-color: gray;
}

.carousel-inner > .carousel-item > img {
  margin: 0 auto;
}

.product-images {
  object-fit: contain;
  padding: 0;
  margin: 0;
}

.border-black {
  border: 8px solid black;
  border-collapse: separate;
}

.progress-wrapper {
  position: relative;
}

.progress-wrapper .progress-text {
  position: absolute;
  top: 50%;
  margin-left: 7px;
  transform: translateY(-50%);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  z-index: 1;
}

.lightButton {
  background-color: transparent;
}

.pagination > li > a,
.pagination > li > span {
  background-color: white;
  border: 0;
}
.pagination > li.active > a,
.pagination > li.active > span {
  color: black;
  border: 0;
}
.page-item.active .page-link {
  background-color: black;
}
.page-link {
  color: black;
}
